module.exports = function template(m) {
  if (!m || !m.main || !m.wind)
    return `Empty data`;
  
  return `  Temperature: ${m.main.temp} \xB0C
  Wind speed: ${m.wind.speed} m/s
  Pressure: ${Math.round(m.main.pressure / 1.333223899999367)} mmHg
  Description: ${m.weather.pop().description}`
};
